@use '../variables' as *;

.main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: flex-end;
  
}

.left-nav {

  > ul {
    > li {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 11px;
      text-transform: uppercase;
      margin: 20px;
      font-weight: 700;
    }
  }

  span {
    
  }
}

.right-nav  {
  > ul {
    > li {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 11px;
      text-transform: uppercase;
      margin: 5px;
    }

    > li:last-of-type {
     
    }
  }
  
  i {
    font-size: 50px;
  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background-color: $light-gray;
}

    