.section-links {
    display: flex;
    justify-content: space-around;
    padding: 4px;

    li:hover {
        background-color: lightgrey;
    }

    li:last-child:hover {
        text-decoration: underline; 
        background-color: transparent;
    }

}