<header class="masthead">
    <ul class="language-nav">
        <li><a href="#">CSS</a></li>
        <li><a href="#">HTML</a></li>
        <li><a href="#">Javascript</a></li>
        <li><a href="#">Ruby</a></li>
    </ul>

    <img class="logo" src="assets/AA_Times_Logo.png">

    <ul class="masthead-links">
        <li class="date">Tuesday, October 18, 2016</li>
        <li><a href="#"><i class="fa fa-newspaper-o"></i>Today’s Paper</a></li>
        <li><a href="#"><i class="fa fa-video-camera"></i>Video</a></li>
        <li><button>77°F</button></li>
        <li><button>AAO <strong>+100%</strong></button></li>
    </ul>
</header>


